# Qt build forlders
build-*
ML/BasicML/build-*
ML/BasicML/*.o
ML/BasicML/moc*
ML/BasicML/BasicML
ML/BasicML/BasicML.pro.user*
ML/BasicML/Makefile
ML/BasicML/\.qmake\.stash
ML/BasicML/moc_mainwindow\.cpp
ML/BasicML/ui_mainwindow\.h
